:root {
  --chat-row-template: 0.5rem 1fr;
  --room-link-label-font-size: 1.6rem;
  --composer-font-size: var(--room-link-label-font-size);
  --chat-line-font-size: var(--room-link-label-font-size);
  --chat-line-padding: 0.5rem 1rem;
}

@media (max-width: 960px) { /* Large Screens and below */
  :root {
    --chat-row-template: 5.5rem 1fr;
    --room-link-label-font-size: 1.4rem;
    --chat-line-padding: 0 1rem;
  }
}

/* Popup container - to display Room link is copied to clipboard */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 250px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 0.6rem;
  padding: 0.8rem 0;
  position: absolute;
  z-index: 1;
  bottom: -5rem;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -0.5rem;
  border-width: 0.5rem;
  border-style: solid;
  border-color: transparent transparent #000 transparent;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Chat */
.chat {
  background: #161415;;
  display: grid;
  grid-template-rows: var(--chat-row-template);
  height: 76%;
  margin-top: 10%;
  margin-left: 25px;
  border-radius: 10px;
  margin-right: 25px;
}

.chat__wrapper {
  overflow: hidden;
}

.chat__wrapper .messages {
  overflow-x: hidden;
  overflow-y: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.chat__room-link {
  display: inline-flex;
  place-content: center;
  place-items: center;
}

.chat-line__link {
  color: var(--color-text-link);
  text-decoration: underline;
}

.room-link {
  background: var(--color-bg-input);
  padding: 0.5rem 1.5rem;
  border-radius: 40px;
  display: inline-flex;
  place-content: center;
  place-items: center;
}

.room-link__label {
  color: var(--color-text-base);
  font-size: var(--room-link-label-font-size);
  padding: 0 1rem 0 0;
}

.chat-line {
  font-size: var(--chat-line-font-size);
  padding: var(--chat-line-padding);
}

.chime-web-composer {
  font-size: var(--composer-font-size);
  background: var(--color-bg-chat);
  padding: 1.5rem;
}
/* Streaming Chat */
/* chat thread header */
.str-chat__thread-list {
  height: 60% !important; 
}
.str-chat__thread-list::-webkit-scrollBar {
  width: 5px;
}
.str-chat__thread-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(112, 107, 107);  
}
/*chat background color*/
.livestream.str-chat .str-chat__list { 
  background-color: #161415 !important ;
}
/*file attatch, emoticon color*/

.dark.str-chat .str-chat__small-message-input .rfu-file-upload-button svg, .dark.str-chat .str-chat__small-message-input .str-chat__small-message-input-emojiselect svg {
  fill: #080808 !important;
}

.dark.str-chat .str-chat__small-message-input .rfu-file-upload-button svg:hover, .dark.str-chat .str-chat__small-message-input .str-chat__small-message-input-emojiselect svg:hover {
  fill: #d81972 !important;
}

.str-chat-channel .str-chat__container .str-chat__main-panel {
  max-height: 800px !important;
}
@media screen and (min-width: 768px) {
  .str-chat__send-button {
    display: block !important;
    z-index: 1 !important;
  }
}
.str-chat__small-message-input {
  margin: 0px !important;
  height: 0px !important;
}
.dark.str-chat .str-chat__small-message-input textarea {
  background: rgba(255, 255, 255, 1.05) !important;
  border: 1px solid rgba(0, 0, 0, 0.21) !important;
  border-radius: 0 0 10px 10px !important;
  color: rgb(19, 18, 18) !important;
}
.dark.str-chat .str-chat__small-message-input textarea::selection{
 background: rgb(120, 162, 224) !important;
}
.str-chat__small-message-input-emojiselect, .str-chat__small-message-input .rfu-file-upload-button {
  height: 34px !important;
  right: 28px !important;
}
.str-chat__small-message-input .rfu-file-upload-button {
  bottom: 8px !important;
}
.str-chat__send-button {
  margin-left: -30px !important; 
}
.str-chat__small-message-input .rfu-file-upload-button {
  right: 50px !important;
}
.str-chat__send-button svg path {
  fill: #2d2d2d !important;
}
.str-chat__textarea textarea:focus {
  box-shadow: unset !important;
}
/* Chat Scroll bar customize*/
.str-chat__list::-webkit-scrollBar {
  width: 5px;
}
.str-chat__list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(112, 107, 107);
}
.str-chat__small-message-input textarea {
  padding: 10px 73px 8px 8px !important;
}
/* Chat tooltip */
.str-chat__small-message-input--textarea-wrapper .str-chat__fileupload-wrapper .str-chat__tooltip {
  bottom: 37px !important;
  right: 53px !important;
}
.str-chat__small-message-input--textarea-wrapper .str-chat__emojiselect-wrapper .str-chat__tooltip {
  bottom: 38px !important;
  right: 31px !important;
}
.livestream.str-chat .str-chat__list {
  padding: 0 0px !important;
}
.str-chat-channel .str-chat__container .str-chat__main-panel {
  height: 65% !important;
  background: #141516;
}
.str-chat.livestream.dark {
  background: #1B1B1B !important;
}
.str-chat__small-message-input-emojiselect, .str-chat__small-message-input .rfu-file-upload-button:focus{
  outline: none !important;
}
.str-chat__small-message-input__wrapper .rfu-dropzone:focus {
  outline: none;
}
.emoji-mart-category .emoji-mart-emoji span {
  width: unset !important;
  height: unset !important;
}
.emoji-mart-search-icon {
  height: 18px;;
}
/* Chat Tab */
.react-tabs__tab--selected {
  color: #CA2A34 !important;
  background: -webkit-linear-gradient(0deg,#E56C01, #B70251) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
.livestream.str-chat.dark .str-chat__header-livestream {
  border-radius: 10px;
  margin: 10px;
}
.react-tabs__tab-list {
  border-bottom: 1px solid #5a2424 !important;
}
.react-tabs__tab {
  text-align: center;
  background: #161415;
  font-weight: 600;
  border: none !important;  
  border-radius: 15px 15px 0px 0px;
}
.react-tabs__tab:focus {
  box-shadow: none !important;
}
.react-tabs__tab:focus:after {
  height: 0px !important;
}
.react-tabs {  
  background: #161415;
  border-radius: 15px 15px 0px 0px;
  height: inherit;  
  padding-top: 10px;
}
/* Vip Room */
.vip-room-scroll {
  max-height: 100%;
  overflow-y: scroll;
  background: #141516;
  height: 67vh;
  border-radius: 0 0 10px 10px;
}
.vip-room-scroll::-webkit-scrollBar {
  width: 5px;
}
.vip-room-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(112, 107, 107);  
}
.vip-room-active {
  /* height: 100%; */
}
/* Vip room button */
.exit-active-icon {
  background: #383838;
  width: 36px !important;
  height: 36px !important;
  padding: 8px;
}
.exit-active-room {
  border-top: 1px solid #232323;
}
.btn.rounded, input.rounded {
  border-radius: 8px;
}

/* vipCreatroomCard */
.creat-room-field {
  padding: 15px;
  margin-bottom: 0px;
}
