/* Navigation */
#navigation.navbar {  
  overflow: hidden;
  background-color: #000000;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  height: 75px;
}
#navigation .logo-star {
  width: 150px;
  margin: auto 50px;
  cursor: pointer;
}
@media (max-width: 960px) { 
  #navigation .logo-star {
    margin-left: 25px;
    cursor: pointer;
  }
}
#navigation .social-media-block {
  margin: auto 100px;
}
.social-media-icons li a {
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  height: 22px;
  width: 22px;
  padding: 25px;
}
.social-padding {
  padding: 10px;
}
.social-media-icons li span {
  display: none;
}
.social-media-icons {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.icon-instagram {
  background-image: url(../../assets/img/instagram.svg);
}
.icon-facebook {
  background-image: url(../../assets/img/facebook.svg);
}
.icon-twitter {
  background-image: url(../../assets/img/twitter.svg);
}
.icon-menu {
  background-image: url(../../assets/img/menu-icon.svg);
}
/* Contact */
#contact.contact-bar {
  font-size: 50px;
  background-color: #090909;
  padding-top: 40px;
}
#contact .contents {
  display: flex;  
  justify-content: space-around;
  margin-bottom: 15px;
}
#contact .text-center {
  text-align: center;
}
#contact .btn-custom {
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  padding: 0px 15px;
  background: #090909;
  color: white;
  align-items: center;
}
#contact .btn-join-center {
  display: flex;
  align-items: center;
  background: linear-gradient(to right, red, purple);
  padding: 2px;
  border-radius: 5px;
}
#contact .form-group {
  display: flex;
  justify-content: center;
}
#contact .title-size {
  font-size: 25px;
  font-weight: 600;
}
#contact .subscribe-size {
  font-size: 15px;
}
#contact .copy-right {
  display: flex;
  justify-content: center;
  font-size: 13px;
  padding-bottom: 25px;
}
#contact .btn-go {
  margin-left: 2px;
  background-color: #4f4f4f;
  border: none;
  width: 42px;  
  background-image: url(../../assets/img/right-arrow.svg);
  background-position: center center;
  background-repeat: no-repeat;
}
#contact .form-control {
  border-radius: 5px;
  background-color: #1c1c1c;
  border: 2px solid #383838;
  color: #adadad;
  display: block;
	width: 100%;
	padding: 8px 12px;
	font-size: 16px;
	line-height: 1.42857143;	
}
#contact {
  display: none;
}
/* testimonial */
#testimonial .section-header {
  font-size: 22px;
  font-weight: 600;
  background: -webkit-linear-gradient(#15A8D1, #1870B6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#testimonial .left-text {
  text-align: left;
}
#testimonial .section-group {
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 40px;
}