

/* Player overlay */
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.jss2 {
    width: 291px;
    height: 68px;
}
.VideoPlayer-icon_container-2{
    width: 291px;
    height: 68px;
}
.MuiIconButton-root {
    float:left;
}
.overlay .icon {
  position: absolute;
  width: 40px;
  height: 40px;
  font-size: 36px;
  animation: scale 0.2s ease-in-out;
  transition: all 0.15s ease-in-out;
  filter: drop-shadow(0 6px 15px rgba(0, 0, 0, 0.2));
}

.overlay .icon.fade {
  opacity: 0;
}

#player-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  transition: background 0.1s ease-in-out;
}

.player-controls__inner {
  height: var(--btn-size);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: 0 10px 10px 10px;
}

.player--hover #player-controls {
  background: linear-gradient(0deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 0) 100%);
}


.player--hover #settings-menu.open {
  display: block;
}



.icon {
  fill: #fff;
}

.spinner {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 3px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

#play {
  left: 15px;
}

#mute {
  left: calc(25px + var(--btn-size));
}

#clip {
  right: calc(25px + var(--btn-size));
}

#settings {
  right: 5px;
}

.icon--settings {
  transition: transform 0.15s ease-in-out;
}



.btn--settings-on .icon--settings {
  transform: rotate(45deg);
}

#settings-menu {
  float:right;
  position: relative;
  right: 29px;
  bottom: -6px;
  background: #000;
  z-index: 2;
  display: block;
  border-radius: 10px;
  color: #fff;
}

.settings-menu-item {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  display: block;
  cursor: pointer;
}

.settings-menu-item:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius:10px;
}


/* Clips */
.clip-el {
  transition: all 0.35s ease-in-out;
  animation: fadeIn 0.5s 1;
  border-radius: var(--radius);
}

@keyframes fadeIn {
  0% {
    opacity: 0.2;
    background: var(--btn-color-highlight-hover);
  }
  100% {
    opacity: 1;
    background: transparent;
  }
}

.clip-el__player {
  width: 100%;
  background: #000;
  border-radius: var(--radius);
}

.clip-el__btns {
  margin: 0.2rem 0 0 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn-round {
  width: var(--btn-round-size);
  height: var(--btn-round-size);
  border-radius: var(--btn-round-size);
  background: var(--bg-color-3);
  border: 0;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  outline: none;
  border: 3px solid var(--bg-color-3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-round:hover,
.btn-round:focus,
.btn-round:active {
  background: var(--bg-color-1);
}

.btn-round:active {
  transform: translate3d(0, 3px, 0);
}

.btn-round svg {
  fill: var(--btn-color-fill);
}


@media (max-width: 840px) {
  section {
    height: 100%;
  }
  #app {
    grid-auto-flow: row;
    grid-template-columns: unset;
    grid-template-rows: [player] 0.5fr [clips] 1fr;
  }
}